{% extends 'users/base.html' %}
{% load static i18n static %}
{% block title %}{% trans "Reinicio contraseña" %}{% endblock %}

{% block container %}
  <main class="container-fluid">
    <div class="auth-wrapper d-flex flex-column minvheight-100">
      <div class="row align-items-center justify-content-center py-4 mt-auto">
        <div class="col-11 col-sm-8 col-md-11 col-xl-11 col-xxl-10 login-box">
          <div class="text-center mb-4">
            <h1 class="display-2 fw-bold mb-0">📤<br>Correo enviado</h1>
            <p class="text-secondary">
              Por favor revisa tu correo para continuar con el proceso de cambio de contraseña.
            </p>
          </div>
        </div>
      </div>

      <footer>
        <div class="container-fluid text-center">
          <span class="small">Copyright @2025, <a target="_blank">Futsal para todos</a>❤️</span>
        </div>
      </footer>

    </div>
  </main>

{% endblock %}
